.btnContainers {
    display: flex;
    align-items: center;
}

.btnContainers > button {
    border: 0;
    margin: 0 5px;
    font-size: 15px;
    padding: 5px 10px;
}

.btnContainers > span {
    margin-right: 10px;
    font-size: 18px;
}

.key {
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}
.value {
    font-size: 16px;
    font-family: sans-serif;
}
.productImgContainer {
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align: center;
}
.productImgContainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.tdd button {
    width: 80px;
    border: 1px solid black;
    margin: 5px 5px;
    font-size: 15px;
    padding: 5px 10px;
}
