.delAdrContainer {
    display: flex;
    box-sizing: border-box;
    width: 100%;
}
.delTitle {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.delName {
    font-size: 14px;
    font-weight: 500;
}
.delAddress {
    font-size: 13px;
    margin: 10px 0;
}
.delPhoneNumber {
    font-size: 13px;
    font-weight: 500;
}
.delAdrDetails {
    padding: 24px;
    width: 33%;
    border-right: 1px solid #eee;
}

.rewardRow {
    display: flex;
    margin: 20px 0;
    align-items: center;
}

.rewardsContainer {
    width: 25%;
    padding: 24px;
    border-right: 1px solid #eee;
}
.delMoreActionContainer {
    padding: 24px;
    width: 41.66%;
}

.delItemImgContainer {
    width: 95px;
    height: 95px;
    overflow: hidden;
    text-align: center;
}
.delItemImgContainer > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.orderTrack {
    margin-top: 8px;
    width: 400px;
    display: flex;
}
.orderStatus {
    width: 33.33%;
    height: 5px;
    background: #777;
    position: relative;
    font-size: 13px;
}
.orderStatus.active {
    background: #26a541;
}
.orderStatus:last-child {
    width: 0;
}
.orderStatus .point {
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 8px;
    background-color: #777;
    top: -5px;
}
.orderStatus .point.active {
    background-color: #26a541;
}
.orderInfo {
    height: 70px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: -32px;
    transform: translateX(-40%);
}

.delItemName {
    font-size: 13px;
}

.orderInfo .status {
    color: #26a541;
    text-transform: capitalize;
    font-weight: bold;
}

.orderInfo .date {
    font-size: 13px;
}

.breeed {
    margin: 10px 0;
}

.buttonn {
    box-shadow: none;
    border: 1px solid #e0e0e0;
    width: 140px;
    height: 35px;
    min-width: 140px;
    color: #2874f0;
    border-radius: 1px;
    text-align: center;
}

.flexRow {
    display: flex;
}
