.orderItemContainer {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    text-decoration: none;
    color: inherit;
}
.orderImgContainer {
    width: 90px;
    height: 90px;
    overflow: hidden;
    text-align: center;
    object-fit: contain;
}
.orderImg {
    max-width: 90px;
    max-height: 90px;
}
.orderRow {
    display: flex;
    flex: 1;
}
.orderName {
    width: 400px;
    box-sizing: border-box;
    padding: 0 20px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
}
.orderPrice {
    width: 150px;
    box-sizing: border-box;
    padding: 5px 40px;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
    font-size: 15px;
}
.orderStatus {
    width: 300px;
    box-sizing: border-box;
    padding: 5px 40px;
    font-weight: 400;
    display: flex;
    align-items: flex-start;
    font-size: 15px;
}

.orderStatus span {
    box-sizing: border-box;
    font-weight: 500;
    font-size: 15px;
}

.breeed {
    margin: 10px 0;
}
